<div class="footer-row-1">
    <div class="container">
        <div class="newsletter-container">
            <p>Keep your finger on the pulse & discover news, exclusive discounts and promotions</p>
            <div class="newsletter">
                {{#if settings.show_newsletter_box}}
                {{> components/common/subscription-form}}
                {{/if}}
                <div class="footer-pp-link">
                    <a href="/privacy-policy">Privacy Policy</a>
                </div>
            </div>

        </div>
    </div>
</div>

<footer class="footer" role="contentinfo">
    <div class="container">

        <div class="footer-info">
            <div class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h3 class="footer-info-heading">{{lang 'footer.navigate'}}</h3>
                <ul class="footer-info-list">
                    {{#each pages}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}           
                  
                </ul>
                <div class="social-media-icons" >
                    <a class="icon icon--instagram" href="https://www.facebook.com/medcartaus/" target="_blank" rel="noopener" title="Instagram">
                        <svg  >
                            <use href="#icon-facebook"></use>
                        </svg>
                    </a>
                    <a class="icon icon--instagram" href="https://www.instagram.com/medcartaus/" target="_blank" rel="noopener" title="Instagram">
                        <svg >
                            <use href="#icon-instagram"></use>
                        </svg>
                    </a>
                    <a class="icon icon--instagram" href="https://www.instagram.com/medcartaus/" target="_blank" rel="noopener" title="Instagram">
                        <svg  >
                            <use href="#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
               
            </div>

            <div class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h3 class="footer-info-heading">{{lang 'footer.categories'}}</h3>
                <ul class="footer-info-list">
                    {{#each categories}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
                <h3 class="footer-info-heading">Payment Method</h3>
                <div class="payment-methods">
                    <img width="50" height="30" src="{{cdn 'assets/img/payment-methods/afterpay.png'}}" alt="afterpay" loading="lazy">
                    <img width="50" height="30" src="{{cdn 'assets/img/payment-methods/paypal.svg'}}" alt="paypal" loading="lazy">
                    <img width="50" height="30" src="{{cdn 'assets/img/payment-methods/mastercard.svg'}}" alt="mastercard" loading="lazy">
                    <img width="50" height="30" src="{{cdn 'assets/img/payment-methods/visa.svg'}}" alt="visa" loading="lazy">                
                    <img width="50" height="30" src="{{cdn 'assets/img/payment-methods/american-express.png'}}" alt="american-express" loading="lazy">
                </div>
            </div>


            {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
            <div class="footer-info-col footer-info-col--small footer-3-4" data-section-type="footer-brands">
                <h3 class="footer-info-heading">{{lang 'footer.brands'}}</h3>
                <ul class="footer-info-list">
                    {{#each shop_by_brand}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}
                    <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                </ul>
            </div>
            {{/and}}

            <div class="footer-info-col footer-info-col--small footer-3-4" data-section-type="footer-brands">
                <h3 class="footer-info-heading">{{lang 'footer.brands'}}</h3>
                <ul class="footer-info-list footerlist" id="footer-info-list">
                    <li>
                        <a href="{{url}}">MedCart Australia Pty Ltd is your place to research and buy the best on offer
                            in medical supplies, personal protective equipment, healthcare, pharmacy, and patient
                            treatment devices. Our comprehensive range of brands and products are of the highest quality
                            standards used by medical practitioners in hospitals, healthcare, and pharmacy. MedCart is
                            the home for all wholesalers, retailers, and distribution to sell direct to the Australian public</a>
                    </li>
                </ul>
                <button class="show-more">Show more</button>
            </div>
            
        </div>
        <!-- <button id="button" >click me</button> -->
        {{#if theme_settings.show_copyright_footer}}
        <div class="footer-copyright">
            <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
        </div>
        {{/if}}
    </div>
    {{{region name="ssl_site_seal--global"}}}
</footer>