<div class="signIn-modal-backdrop" id="brandPolicy-Modal-backdrop">

    <div id="brandPolicyModal" class="signIn-modal visible">
        <div class="modal-outer">
            <div class="modal-header">
                <button type="button" class="modal-close brand-policy-modal-close">close ✕</button>
            </div>
            <div class="modal-inner">
                <div class="modal-inner-wrapper">
                    <div class="modal-body">
                         <div>
                            <h4>Currency</h4>
                            <p>All transactions are processed in AUD.</p>
                            <h4  class="ShippingPolicy">Shipping and Delivery Policy</h4>
                            <p  id="ShippingPolicy" class="ShippingPolicy"></p>
                            <h4  class="CustomerServicePolicy">Customer Service Policy</h4>
                            <div  id="CustomerServicePolicy" class="CustomerServicePolicy"><p>Biome is committed to providing exceptional customer service and quality products. We endeavour to make sure that all products listed are currently in stock and pricing is true and correct. Standard delivery time frames are between 3-10 business days; in the event that an ordered item is not available or we are unable to fulfill your order we will notify you within 2 business days to arrange an agreeable alternative item, a back order or a full refund.</p></div>
                            <h4  class="ReturnPolicy">Returns Policy</h4>
                            <div  id="ReturnPolicy" class="ReturnPolicy"><p>For Terms and Condition, please refer to this <a href="/medcart-terms-and-conditions">link.</a></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>