<div class="cart" data-cart-quantity="{{cart.quantity}}">
    {{#each cart.items}}
    <div class="cart-list">
        <div class="sub-div1">  
            <tr class="cart-item" data-item-row>
                <div class="cart-item-block cart-item-figure">
                    {{#if type '==' 'GiftCertificate'}}
                    <img class="cart-item-fixed-image" src="{{cdn ../theme_settings.default_image_gift_certificate}}"
                        alt="{{lang 'cart.gift_certificates.gift_certificate'}}"
                        title="{{lang 'cart.gift_certificates.gift_certificate'}}">
                    {{else}}
                    {{> components/common/responsive-img
                    image=image
                    class="cart-item-image"
                    fallback_size=../theme_settings.productthumb_size
                    lazyload="lazyload"
                    default_image=../theme_settings.default_image_product
                    }}
                    {{/if}}
                </div>
                <div class="cart-item-block cart-item-title">
                    <p class="cart-item-name">
                        <a class="cart-item-name__label"
                            href="{{url}}">{{name}}</a>
                    </p>
                    {{#if release_date}}
                    <p>({{release_date}})</p>
                    {{/if}}
                    {{#if options}}
                    <h5 style="margin: 10px 0 10px 0; font-weight: 600; " >From:</h5>
                    <h5 style="margin: 10px 0 10px 0; font-weight: 600;" >Qty:</h5>
                    <div class="form-increment">
                        {{#if can_modify}}
                        <button class="button button--icon btnstyle" data-cart-update data-cart-itemid="{{id}}"
                            data-action="dec">
                            <span class="is-srOnly">{{lang 'products.quantity_decrease' name=name}}</span>
                            <i class="icon" aria-hidden="true"><svg>
                                    <use href="#icon-keyboard-arrow-down" />
                                </svg></i>
                        </button>
                        {{/if}}
                        <input class="form-input form-input--incrementTotal cart-item-qty-input inputbtn " id="qty-{{id}}"
                            name="qty-{{id}}" type="tel" value="{{quantity}}"
                            data-quantity-min="{{min_purchase_quantity}}" data-quantity-max="{{max_purchase_quantity}}"
                            data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                            data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                            min="1" pattern="[0-9]*" data-cart-itemid="{{id}}" data-action="manualQtyChange"
                            aria-label="{{name}}" aria-live="polite" {{#unless can_modify}} disabled{{/unless}}>
                        {{#if can_modify}}
                        <button class="button button--icon btnstyle" data-cart-update data-cart-itemid="{{id}}"
                            data-action="inc">
                            <span class="is-srOnly">{{lang 'products.quantity_increase' name=name}}</span>
                            <i class="icon" aria-hidden="true"><svg>
                                    <use href="#icon-keyboard-arrow-up" />
                                </svg></i>
                        </button>
                        {{/if}}
                        <strong class="cart-item-value">{{total_discounted.formatted}}</strong>
                        <button class="cart-remove icon removeicon" data-cart-itemid="{{id}}"
                            data-confirm-delete="{{lang 'cart.confirm_delete'}}"
                            aria-label="{{lang 'cart.remove_item' name=name}}">
                            <svg>
                                <use href="#icon-close"></use>
                            </svg>
                        </button>
                    </div>
                    {{/if}}
                </div>
            </tr>
        </div>
        <hr>
        <div class="sub-div2">
            <div class="shippingamt">
                <h5 style="font-weight: 600;" >Standard shipping: <br> $11.95</h3>
            </div>
            <div class="desc">
                <h6>This product will ship direct from the seller in Australia. You will be notified when
                    your item has been shipped.</h6>
            </div>
        </div>
        <hr>
        <div class="sub-div3">
            <div class="text-cont">
                <p>You qualify for free shipping from Biome!</p>
                <a class="continue-shopping" href="/shop/?search_query=Biome">Continue shopping at Biome</a>
            </div>
            <div class="calc">
                <div>
                    <p>SubTotal:</p>
                    <p>Shipping:</p>
                    <p>GST:</p>
                    <p>Total:</p>
                </div>
                <div style="text-align: right;" >
                    <p class="sub-total sub-total-{{@index}}" >{{total_discounted.formatted}}</p>
                    <!-- <p>Free</p> -->
                    <p>{{cart.items.total.formatted}}
                    </p>
                    <p class="brand-total-{{@index}}" >{{total_discounted.formatted}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>