// =============================================================================
// ACTION BAR (CSS)
// =============================================================================


.actionBar-section {
    .form-field {
        background-color: $input-bg-color;
     

        &:hover {
            border-color: stencilColor("input-border-color-active");
        }
    }

    .form-label {
        color: black;
        font-size: 18px;
        margin-bottom: 0;
       
    }

    .form-input,
    .form-select {
      
        border: 0;
        padding-left: 5px;
        width: 90px;
    }

    .form-label,
    .form-input,
    .form-select {
        display: inline-block;
        padding: 0;
    
    }

    .form-select {
        font-size: 18px;
        font-weight: 500px;
        color: black;
        height: 3.14rem;
    }
  
}
.form-select--large option {
    min-width: 500px; 
}
.option-spec{
    background-color: bisque;
    width: 200px;
}