// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
// 3. Fix for text flickers on windows devices
//
// -----------------------------------------------------------------------------


  

.footer {
    background-color:#28747a ;
    border-top: container("border");
    padding: 1.875rem 0;
    position: relative;
    transform: translateZ(0); // 3
}
.newsletter-container {
    padding: 1.875rem 0;
    display: flex;
    flex-direction: column;
  
    @include breakpoint("small") {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  
      p {
        font-size: 18px;
      } 
    } 
.newsletter{
   
    .button {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
        border-radius: 0;
        border: none;
        background-color: #fc562a;        
       
      }
}
.footer-pp-link{
    margin-top: 5px;
}

}
  
  .footer-pp-link {
    margin-top: 0px;
    text-align: right;
  
    a {
      text-decoration: none;
    }
  }


.footer-title-sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.footer-info {
    justify-content: space-between;
    // @include grid-row($behavior: nest);
    display: flex;
    font-size: medium; 
    li  a{
        color: white !important;
    }
}

.footer-info-col {
    @include grid-column(12);
    color: white;
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    margin-bottom: spacing("double");
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: top;
    width: 25%;
    // TODO: specifically use vendor only for IE11 since overflow-wrap is not supported here
    -ms-word-break: break-all;

    @include breakpoint("small") {
        text-align: left;
        width: width("6/12");
    }

    @include breakpoint("medium") {
        width: width("4/12");
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {
    @include breakpoint("medium") {
        width: 25%;
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
        width: 50%;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
        width: 100%;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    color: #fff;
    font-size: 1rem;
    text-transform: inherit;
    font-weight: 700;
}

.footer-info-list {
    list-style: none;
    margin-left: 0;

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
    }
}

.footer-copyright {
    text-align: center;
  

    @include breakpoint("small") {
        text-align: left;
    }

    > .powered-by {
        color: #fff;
        // font-size: fontSize("tiny");
        margin: 0;
    }

    a {
        
        text-decoration: none;

        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
    }
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-newsletter-summary {
    text-align: left;
}
.footer-row-1{
    background-color: #dae4e6;
}

.social-media-icons {
  margin-top: 85px;
   
   .icon--instagram{
    background-color: #fff;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    svg{
        cursor: pointer;
    }
   
   }     
}
@media only screen and (max-width: 900px) {
    .show-more{
        display: block !important;
    }
   
  }

  .footerlist {
    max-height: 210px;
    overflow: hidden;
    transition: max-height 0.9s ease-in-out;
}

.expanded {
    max-height: none;
}
.show-more{
    display: none;
}