<ul class="tabs" data-tab>
    {{#if product.description}}
        <li class="tab is-active">
            <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>
        </li>
    {{/if}}
    {{#if product.warranty}}
        <li class="tab {{#unless product.description}}is-active{{/unless}}">
            <a class="tab-title" href="#tab-warranty">{{lang 'products.warranty'}}</a>
        </li>
    {{/if}}
    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
        <li class="tab">
            <a class="tab-title"
               href="#tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}"
            >
                {{sanitize theme_settings.pdp-custom-fields-tab-label}}
            </a>
        </li>
    {{/all}}
    {{#all settings.show_product_reviews theme_settings.show_product_reviews product.reviews.total}}
        <li class="tab">
            <a class="tab-title productView-reviewTabLink" href="#tab-reviews">{{lang 'products.reviews.header' total=product.reviews.total}}</a>
        </li>
    {{/all}}
</ul>

<div>
        <div class="tabs-contents" id="tabs-contents">
            {{#if product.description}}
                <div class="tab-content is-active" id="tab-description">
                    {{{product.description}}}
                </div>     
            {{/if}}
            <dl class="productView-info" id="product-info">
                {{#filter product.custom_fields 'legacyId' property='name'}}
                    {{#if value "!=" "NA"}}
                    <div class="product-info-combo">
                        <dt class="productView-info-name sku-label">{{lang 'products.sku'}}</dt>
                        <dd class="productView-info-value" data-product-sku>{{value}}</dd>
                    </div>
                       
                    {{/if}}
                {{/filter}}
                {{#if product.brand}}
                <div class="product-info-combo">
                    <dt class="productView-info-name">Seller:</dt>
                    <dd class="productView-info-value"><a href="{{strReplace product.brand.url 'https://store-jb4ize6tlz.mybigcommerce.com/' '/'}}" >{{product.brand.name}}</a></dd>
                </div>         
                  
                    <div class="product-info-combo">
                        <dt class="productView-info-name">Type:</dt>
                        <dd class="productView-info-value " style="color: #28747a;"><span id="inject-TypeLink">
                      {{/if }}

                            {{#each product.custom_fields}}     
                            {{value}}
                            {{/each}}

                        
                         
                        </span></dd>
                    </div>
            </dl>   
        </div>
    
    <button class="more-less-text no-outline-focus" id="showMoreButton">Show more</button>
</div>

